html, body, main, .section {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  display: block;
  background-color: #fff;
  color: #000;
  width: 100%;
  /*height: 100%;*/
  margin: 0;
  padding: 0;
  z-index: 5;
}

nav {
  height: 2.5em;
  box-shadow: 0px 0px 15px black;
}

.logo {
  float: left;
  margin-top: 1px;
}

.hero {
  background: url("/static/img/logo/pycon_long_2018.png");
  background: url("/static/img/logo/pycon_long_2018.svg"), linear-gradient(transparent, transparent);
  background-repeat: no-repeat;
  background-position: center;
  height: 22em;
}

.lead {
  font-style: italic;
  font-size: x-large;
}

.section {
  -o-background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-attachment: scroll;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.section#home {
  background-image: url('/static/img/backgrounds/people.jpg');
  background-attachment: fixed;
}

.section#venue {
  background-image: url('/static/img/backgrounds/fiit.jpg');
  background-attachment: fixed;
}

.section#sponsoring, .section#sponsors {
  background-image: url('/static/img/backgrounds/stairway.jpg');
  background-attachment: fixed;
}

.section#cfp {
  background-image: url('/static/img/backgrounds/speaker.jpg');
  background-attachment: fixed;
}

.section#coc {
  background-image: url('/static/img/backgrounds/snake.jpg');
  background-attachment: fixed;
}

.section#news {
  background-image: url('/static/img/backgrounds/hall.jpg');
  background-attachment: fixed;
}

.section#tickets {
  background-image: url('/static/img/backgrounds/lecture_hall.jpg');
  background-attachment: fixed;
}

.section#hall-of-fame {
  background-image: url('/static/img/backgrounds/food.jpg');
  background-attachment: fixed;
}

.section#references {
  background-image: url('/static/img/backgrounds/bag.jpg');
  background-attachment: fixed;
}

.content {
  position: relative;
  padding: 6em 6em;
}

.content-text {
  border: 1px solid #888;
  text-align: justify;
  background-color: rgba(255, 255, 255, 0.80);
  color: #000;
  padding: 10px 10px 40px 10px;
}

.text-center {
  text-align: center;
}

.text-justify {
  text-align: justify;
}

.box {
  padding: 0 10px;
}

.avatar {
  width: 50%;
  border-radius: 50%;
  border: 1px solid #888;
}

.img-responsive {
  display:block;
  max-width:100%;
  height:auto;
}

.sbox, .sline {
  position: relative;
  display: block;
  padding: 0;
  margin: 0;
  border: 1px solid #ddd;
  border-radius: 4px;
  transition: border 0.2s ease-in-out 0s;
  margin-bottom: 10px;
  background: #fff;
}

.sline {
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 20px;
  margin-bottom: 10px;
}

.sbox {
  height: 320px;
}

.sbox-inner {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 0;
  background-color: rgba(0, 0, 0, 0.85);
  border: 1px solid #999;
  border-radius: 4px;
  z-index: 1;
  display: none;
}

a.sbox:hover > .sbox-inner {
  display: block;
}

.sdesc {
  bottom: 0px;
  left: 0px;
  right: 0px;
  color: #fff;
  margin-left: 16px;
  margin-right: 16px;
  padding: 6px;
}

.sdesc .text-justify {
  font-size: 12px;
}

.slogo {
  display: block;
  position: absolute;
  z-index: 0;
  max-width: 75%;
  max-height: 40%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

footer {
  display: block;
  width: 100%;
  /*position: fixed;*/
  bottom: 0;
  padding: 0;
  margin: 0;
  border-top: 1px solid #888;
  z-index: 3;
  background-color: rgba(255, 255, 255, 0.90);
  box-shadow: 0px 0px 15px black;
}

.footer {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.footer p {
  margin-bottom: 6px;
  margin-top: 6px;
}

.footer .copyleft {
  font-size: small;
}

article footer {
  position: relative;
  box-shadow: none;
  border: none;
}

input.error, textarea.error, select.error {
  box-shadow: 0 0 5px 1px red;
}

#speakerModal textarea {
  width: 40em;
  height: 8em;
}

#talkModal textarea {
  width: 40em;
  height: 18em;
}

.border_bottom {
  border-bottom-width: 1px;
}

.tito-wrapper {
  background-color: #ffffff;
}

@media (max-width: 60em) {
  .content-text {
    width: 80%;
  }
  .content {
    min-height: 100vh;
  }
  article .content {
    min-height: auto;
  }
  #speakerModal textarea , #talkModal textarea {
    width: 100%;
  }
}

@media (max-width: 30em), (max-height: 35em) {
  footer {
    position: static;
  }
  .content {
    position: static;
    min-height: 100vh;
  }
  .section {
    height: auto;
  }
}

@media (max-width: 900px) {
  .section#home {
    background-image: url('/static/img/backgrounds/people_medium.jpg');
    background-attachment: fixed;
  }

  .section#venue {
    background-image: url('/static/img/backgrounds/fiit_medium.jpg');
    background-attachment: fixed;
  }

  .section#sponsoring {
    background-image: url('/static/img/backgrounds/stairway_medium.jpg');
    background-attachment: fixed;
  }

  .section#cfp {
    background-image: url('/static/img/backgrounds/speaker_medium.jpg');
    background-attachment: fixed;
  }

  .section#coc {
    background-image: url('/static/img/backgrounds/snake_medium.jpg');
    background-attachment: fixed;
  }

  .section#news {
    background-image: url('/static/img/backgrounds/hall_medium.jpg');
    background-attachment: fixed;
  }

  .section#tickets {
    background-image: url('/static/img/backgrounds/lecture_hall_medium.jpg');
    background-attachment: fixed;
  }

  .section#hall-of-fame {
    background-image: url('/static/img/backgrounds/food_medium.jpg');
    background-attachment: fixed;
  }

  .section#references {
    background-image: url('/static/img/backgrounds/bag_medium.jpg');
    background-attachment: fixed;
  }

  .hide-900 {
    display: none;
  }
}

@media (max-width: 500px) {
  .section#home {
    background-image: url('/static/img/backgrounds/people_small.jpg');
    background-attachment: fixed;
  }

  .section#venue {
    background-image: url('/static/img/backgrounds/fiit_small.jpg');
    background-attachment: fixed;
  }

  .section#sponsoring {
    background-image: url('/static/img/backgrounds/stairway_small.jpg');
    background-attachment: fixed;
  }

  .section#cfp {
    background-image: url('/static/img/backgrounds/speaker_small.jpg');
    background-attachment: fixed;
  }

  .section#coc {
    background-image: url('/static/img/backgrounds/snake_small.jpg');
    background-attachment: fixed;
  }

  .section#news {
    background-image: url('/static/img/backgrounds/hall_small.jpg');
    background-attachment: fixed;
  }

  .section#tickets {
    background-image: url('/static/img/backgrounds/lecture_hall_small.jpg');
    background-attachment: fixed;
  }

  .section#hall-of-fame {
    background-image: url('/static/img/backgrounds/food_small.jpg');
    background-attachment: fixed;
  }

  .section#references {
    background-image: url('/static/img/backgrounds/bag_small.jpg');
    background-attachment: fixed;
  }

  .hide-500 {
    display: none;
  }
}

/* webfont generated by http://fontello.com open source project */

@font-face {
  font-family: 'pyconsk';
  src: url('/static/font/pyconsk.eot?26309337');
  src: url('/static/font/pyconsk.eot?26309337#iefix') format('embedded-opentype'),
       url('/static/font/pyconsk.woff2?26309337') format('woff2'),
       url('/static/font/pyconsk.woff?26309337') format('woff'),
       url('/static/font/pyconsk.ttf?26309337') format('truetype'),
       url('/static/font/pyconsk.svg?26309337#pyconsk') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "pyconsk";
  font-style: normal;
  font-weight: normal;
  speak: none;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  padding-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* you can be more comfortable with increased icons size */
  font-size: 120%;

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3);
}

.icon-flight:before { content: '\e800'; } /* '' */
.icon-megaphone:before { content: '\e801'; } /* '' */
.icon-users:before { content: '\e802'; } /* '' */
.icon-heart:before { content: '\e803'; } /* '' */
.icon-cc:before { content: '\e804'; } /* '' */
.icon-cc-by:before { content: '\e805'; } /* '' */
.icon-mail:before { content: '\e806'; } /* '' */
.icon-chat:before { content: '\e807'; } /* '' */
.icon-twitter:before { content: '\f099'; } /* '' */
.icon-gplus:before { content: '\f0d5'; } /* '' */
.icon-linkedin:before { content: '\f0e1'; } /* '' */
.icon-github:before { content: '\f113'; } /* '' */
.icon-cab:before { content: '\f1b9'; } /* '' */
.icon-chart-line:before { content: '\f201'; } /* '' */
.icon-bus:before { content: '\f207'; } /* '' */
.icon-facebook-official:before { content: '\f230'; } /* '' */
.icon-train:before { content: '\f238'; } /* '' */
.icon-handshake-o:before { content: '\f2b5'; } /* '' */