{% extends "body.html" %}

{% block header %}
  <script src="{{ url_for('static', filename='js/vue.2.4.4.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/axios.0.16.2.min.js') }}"></script>
{% endblock %}

{% block scripts %}
  <script src="{{ url_for('static', filename='js/cfp.js') }}"></script>
{% endblock %}

{% block content %}
  <div class="modal" id="talkModal">
    <input id="modal_talk" type="checkbox" v-model="open"/>
    <label for="modal_talk" class="overlay"></label>
    <article>
      <form method="post">
        <header>
          <h3>{{ _('Talk Abstract') }}</h3>
          <label for="modal_talk" class="close">&times;</label>
        </header>
        <section class="content">
          <input class="stack" type="text" v-model.trim="talkTitle" v-bind:class="{ 'error': talkTitleError }" placeholder="{{ _('Talk title') }}"/>
          <span class="error" v-if="talkTitleError">{% raw %}{{ talkTitleError }}{% endraw %}</span>

          <textarea class="stack" v-model="talkAbstract" v-bind:class="{ 'error': talkAbstractError }" placeholder="{{ _('Abstract') }}"></textarea>
          <span class="error" v-if="talkAbstractError">{% raw %}{{ talkAbstractError }}{% endraw %}</span>

          <select v-model="language" v-bind:class="{ 'error': languageError }" >
            <option disabled value="">{{ _('Please select one') }}</option>
            <option value="SK">{{ _('Slovak') }}</option>
            <option value="CZ">{{ _('Czech') }}</option>
            <option value="EN">{{ _('English') }}</option>
          </select>
          <span class="error" v-if="languageError">{% raw %}{{ languageError }}{% endraw %}</span>

          <select v-model="type" v-bind:class="{ 'error': typeError }" >
            <option disabled value="">{{ _('Please select one') }}</option>
            <option value="talk">{{ _('Talk') }}</option>
            <option value="workshop">{{ _('Workshop') }}</option>
          </select>
          <span class="error" v-if="typeError">{% raw %}{{ typeError }}{% endraw %}</span>

          <select v-model="duration" v-bind:class="{ 'error': durationError }" >
            <option disabled value="">{{ _('Please select one') }}</option>
            <option value="30">30 {{ _('minutes') }}</option>
            <option value="45">45 {{ _('minutes') }}</option>
            <option value="60">60 {{ _('minutes') }}</option>
            <option value="90">90 {{ _('minutes') }}</option>
            <option value="120">120 {{ _('minutes') }}</option>
          </select>
          <span class="error" v-if="durationError">{% raw %}{{ durationError }}{% endraw %}</span>

        </section>
        <footer>
          <label for="modal_speaker" class="button" v-on:click="validateForm">{{ _('Continue') }}</label>
          <label for="modal_talk" class="button dangerous">{{ _('Cancel') }}</label>
        </footer>
      </form>
    </article>
  </div>

  <div class="modal" id="speakerModal">
    <input id="modal_speaker" type="checkbox" v-model="open"/>
    <label for="modal_speaker" class="overlay"></label>
    <article>
      <form method="post" role="form" enctype="multipart/form-data" v-on:submit="validateForm">
        <header>
          <h3>{{ _('Speaker Biography') }}</h3>
          <label for="modal_speaker" class="close">&times;</label>
        </header>
        <section class="content">
          <select v-model="title" v-bind:class="{ 'error': titleError }">
            <option disabled value="">{{ _('Please select one') }}</option>
            <option value="mr">{{ _('Mr.') }}</option>
            <option value="ms">{{ _('Ms.') }}</option>
            <option value="mx">{{ _('Mx.') }}</option>
          </select>
          <span class="error" v-if="titleError">{% raw %}{{ titleError }}{% endraw %}</span>

          <input class="stack border_bottom" type="text" v-model.trim="firstName" v-bind:class="{ 'error': firstNameError }" placeholder="{{ _('First name') }}"/>
          <span class="error" v-if="firstNameError">{% raw %}{{ firstNameError }}{% endraw %}</span>

          <input class="stack" type="text" v-model.trim="lastName" v-bind:class="{ 'error': lastNameError }" placeholder="{{ _('Last name') }}"/>
          <span class="error" v-if="lastNameError">{% raw %}{{ lastNameError }}{% endraw %}</span>

          <input class="stack" type="tel" v-model.trim="phone" v-bind:class="{ 'error': phoneError }" placeholder="{{ _('Phone') }}"/>
          <span class="error" v-if="phoneError">{% raw %}{{ phoneError }}{% endraw %}</span>

          <input class="stack" type="email" v-model.trim="email" v-bind:class="{ 'error': emailError }" placeholder="{{ _('Email') }}"/>
          <span class="error" v-if="emailError">{% raw %}{{ emailError }}{% endraw %}</span>

          <textarea class="stack" v-model="bio" v-bind:class="{ 'error': bioError }" placeholder="{{ _('Biography') }}"></textarea>
          <span class="error" v-if="bioError">{% raw %}{{ bioError }}{% endraw %}</span>

          <input class="stack" type="url" v-model.trim="url" v-bind:class="{ 'error': urlError }" placeholder="{{ _('Url') }}"/>
          <span class="error" v-if="urlError">{% raw %}{{ urlError }}{% endraw %}</span>

          <input class="stack" type="url" v-model.trim="socialUrl" placeholder="{{ _('Social Url') }}"/>
          <span class="error" v-if="socialUrlError">{% raw %}{{ socialUrlError }}{% endraw %}</span>

          <select class="stack" v-model="country" v-bind:class="{ 'error': countryError }" >
            <option disabled value="">{{ _('Please select one') }}</option>
            <option value="SK">Slovakia</option>

            <option value="AF">Afghanistan</option>
	<option value="AX">Åland Islands</option>
	<option value="AL">Albania</option>
	<option value="DZ">Algeria</option>
	<option value="AS">American Samoa</option>
	<option value="AD">Andorra</option>
	<option value="AO">Angola</option>
	<option value="AI">Anguilla</option>
	<option value="AQ">Antarctica</option>
	<option value="AG">Antigua and Barbuda</option>
	<option value="AR">Argentina</option>
	<option value="AM">Armenia</option>
	<option value="AW">Aruba</option>
	<option value="AU">Australia</option>
	<option value="AT">Austria</option>
	<option value="AZ">Azerbaijan</option>
	<option value="BS">Bahamas</option>
	<option value="BH">Bahrain</option>
	<option value="BD">Bangladesh</option>
	<option value="BB">Barbados</option>
	<option value="BY">Belarus</option>
	<option value="BE">Belgium</option>
	<option value="BZ">Belize</option>
	<option value="BJ">Benin</option>
	<option value="BM">Bermuda</option>
	<option value="BT">Bhutan</option>
	<option value="BO">Bolivia, Plurinational State of</option>
	<option value="BQ">Bonaire, Sint Eustatius and Saba</option>
	<option value="BA">Bosnia and Herzegovina</option>
	<option value="BW">Botswana</option>
	<option value="BV">Bouvet Island</option>
	<option value="BR">Brazil</option>
	<option value="IO">British Indian Ocean Territory</option>
	<option value="BN">Brunei Darussalam</option>
	<option value="BG">Bulgaria</option>
	<option value="BF">Burkina Faso</option>
	<option value="BI">Burundi</option>
	<option value="KH">Cambodia</option>
	<option value="CM">Cameroon</option>
	<option value="CA">Canada</option>
	<option value="CV">Cape Verde</option>
	<option value="KY">Cayman Islands</option>
	<option value="CF">Central African Republic</option>
	<option value="TD">Chad</option>
	<option value="CL">Chile</option>
	<option value="CN">China</option>
	<option value="CX">Christmas Island</option>
	<option value="CC">Cocos (Keeling) Islands</option>
	<option value="CO">Colombia</option>
	<option value="KM">Comoros</option>
	<option value="CG">Congo</option>
	<option value="CD">Congo, the Democratic Republic of the</option>
	<option value="CK">Cook Islands</option>
	<option value="CR">Costa Rica</option>
	<option value="CI">Côte d'Ivoire</option>
	<option value="HR">Croatia</option>
	<option value="CU">Cuba</option>
	<option value="CW">Curaçao</option>
	<option value="CY">Cyprus</option>
	<option value="CZ">Czech Republic</option>
	<option value="DK">Denmark</option>
	<option value="DJ">Djibouti</option>
	<option value="DM">Dominica</option>
	<option value="DO">Dominican Republic</option>
	<option value="EC">Ecuador</option>
	<option value="EG">Egypt</option>
	<option value="SV">El Salvador</option>
	<option value="GQ">Equatorial Guinea</option>
	<option value="ER">Eritrea</option>
	<option value="EE">Estonia</option>
	<option value="ET">Ethiopia</option>
	<option value="FK">Falkland Islands (Malvinas)</option>
	<option value="FO">Faroe Islands</option>
	<option value="FJ">Fiji</option>
	<option value="FI">Finland</option>
	<option value="FR">France</option>
	<option value="GF">French Guiana</option>
	<option value="PF">French Polynesia</option>
	<option value="TF">French Southern Territories</option>
	<option value="GA">Gabon</option>
	<option value="GM">Gambia</option>
	<option value="GE">Georgia</option>
	<option value="DE">Germany</option>
	<option value="GH">Ghana</option>
	<option value="GI">Gibraltar</option>
	<option value="GR">Greece</option>
	<option value="GL">Greenland</option>
	<option value="GD">Grenada</option>
	<option value="GP">Guadeloupe</option>
	<option value="GU">Guam</option>
	<option value="GT">Guatemala</option>
	<option value="GG">Guernsey</option>
	<option value="GN">Guinea</option>
	<option value="GW">Guinea-Bissau</option>
	<option value="GY">Guyana</option>
	<option value="HT">Haiti</option>
	<option value="HM">Heard Island and McDonald Islands</option>
	<option value="VA">Holy See (Vatican City State)</option>
	<option value="HN">Honduras</option>
	<option value="HK">Hong Kong</option>
	<option value="HU">Hungary</option>
	<option value="IS">Iceland</option>
	<option value="IN">India</option>
	<option value="ID">Indonesia</option>
	<option value="IR">Iran, Islamic Republic of</option>
	<option value="IQ">Iraq</option>
	<option value="IE">Ireland</option>
	<option value="IM">Isle of Man</option>
	<option value="IL">Israel</option>
	<option value="IT">Italy</option>
	<option value="JM">Jamaica</option>
	<option value="JP">Japan</option>
	<option value="JE">Jersey</option>
	<option value="JO">Jordan</option>
	<option value="KZ">Kazakhstan</option>
	<option value="KE">Kenya</option>
	<option value="KI">Kiribati</option>
	<option value="KP">Korea, Democratic People's Republic of</option>
	<option value="KR">Korea, Republic of</option>
	<option value="KW">Kuwait</option>
	<option value="KG">Kyrgyzstan</option>
	<option value="LA">Lao People's Democratic Republic</option>
	<option value="LV">Latvia</option>
	<option value="LB">Lebanon</option>
	<option value="LS">Lesotho</option>
	<option value="LR">Liberia</option>
	<option value="LY">Libya</option>
	<option value="LI">Liechtenstein</option>
	<option value="LT">Lithuania</option>
	<option value="LU">Luxembourg</option>
	<option value="MO">Macao</option>
	<option value="MK">Macedonia, the former Yugoslav Republic of</option>
	<option value="MG">Madagascar</option>
	<option value="MW">Malawi</option>
	<option value="MY">Malaysia</option>
	<option value="MV">Maldives</option>
	<option value="ML">Mali</option>
	<option value="MT">Malta</option>
	<option value="MH">Marshall Islands</option>
	<option value="MQ">Martinique</option>
	<option value="MR">Mauritania</option>
	<option value="MU">Mauritius</option>
	<option value="YT">Mayotte</option>
	<option value="MX">Mexico</option>
	<option value="FM">Micronesia, Federated States of</option>
	<option value="MD">Moldova, Republic of</option>
	<option value="MC">Monaco</option>
	<option value="MN">Mongolia</option>
	<option value="ME">Montenegro</option>
	<option value="MS">Montserrat</option>
	<option value="MA">Morocco</option>
	<option value="MZ">Mozambique</option>
	<option value="MM">Myanmar</option>
	<option value="NA">Namibia</option>
	<option value="NR">Nauru</option>
	<option value="NP">Nepal</option>
	<option value="NL">Netherlands</option>
	<option value="NC">New Caledonia</option>
	<option value="NZ">New Zealand</option>
	<option value="NI">Nicaragua</option>
	<option value="NE">Niger</option>
	<option value="NG">Nigeria</option>
	<option value="NU">Niue</option>
	<option value="NF">Norfolk Island</option>
	<option value="MP">Northern Mariana Islands</option>
	<option value="NO">Norway</option>
	<option value="OM">Oman</option>
	<option value="PK">Pakistan</option>
	<option value="PW">Palau</option>
	<option value="PS">Palestinian Territory, Occupied</option>
	<option value="PA">Panama</option>
	<option value="PG">Papua New Guinea</option>
	<option value="PY">Paraguay</option>
	<option value="PE">Peru</option>
	<option value="PH">Philippines</option>
	<option value="PN">Pitcairn</option>
	<option value="PL">Poland</option>
	<option value="PT">Portugal</option>
	<option value="PR">Puerto Rico</option>
	<option value="QA">Qatar</option>
	<option value="RE">Réunion</option>
	<option value="RO">Romania</option>
	<option value="RU">Russian Federation</option>
	<option value="RW">Rwanda</option>
	<option value="BL">Saint Barthélemy</option>
	<option value="SH">Saint Helena, Ascension and Tristan da Cunha</option>
	<option value="KN">Saint Kitts and Nevis</option>
	<option value="LC">Saint Lucia</option>
	<option value="MF">Saint Martin (French part)</option>
	<option value="PM">Saint Pierre and Miquelon</option>
	<option value="VC">Saint Vincent and the Grenadines</option>
	<option value="WS">Samoa</option>
	<option value="SM">San Marino</option>
	<option value="ST">Sao Tome and Principe</option>
	<option value="SA">Saudi Arabia</option>
	<option value="SN">Senegal</option>
	<option value="RS">Serbia</option>
	<option value="SC">Seychelles</option>
	<option value="SL">Sierra Leone</option>
	<option value="SG">Singapore</option>
	<option value="SX">Sint Maarten (Dutch part)</option>
	<option value="SK">Slovakia</option>
	<option value="SI">Slovenia</option>
	<option value="SB">Solomon Islands</option>
	<option value="SO">Somalia</option>
	<option value="ZA">South Africa</option>
	<option value="GS">South Georgia and the South Sandwich Islands</option>
	<option value="SS">South Sudan</option>
	<option value="ES">Spain</option>
	<option value="LK">Sri Lanka</option>
	<option value="SD">Sudan</option>
	<option value="SR">Suriname</option>
	<option value="SJ">Svalbard and Jan Mayen</option>
	<option value="SZ">Swaziland</option>
	<option value="SE">Sweden</option>
	<option value="CH">Switzerland</option>
	<option value="SY">Syrian Arab Republic</option>
	<option value="TW">Taiwan, Province of China</option>
	<option value="TJ">Tajikistan</option>
	<option value="TZ">Tanzania, United Republic of</option>
	<option value="TH">Thailand</option>
	<option value="TL">Timor-Leste</option>
	<option value="TG">Togo</option>
	<option value="TK">Tokelau</option>
	<option value="TO">Tonga</option>
	<option value="TT">Trinidad and Tobago</option>
	<option value="TN">Tunisia</option>
	<option value="TR">Turkey</option>
	<option value="TM">Turkmenistan</option>
	<option value="TC">Turks and Caicos Islands</option>
	<option value="TV">Tuvalu</option>
	<option value="UG">Uganda</option>
	<option value="UA">Ukraine</option>
	<option value="AE">United Arab Emirates</option>
	<option value="GB">United Kingdom</option>
	<option value="US">United States</option>
	<option value="UM">United States Minor Outlying Islands</option>
	<option value="UY">Uruguay</option>
	<option value="UZ">Uzbekistan</option>
	<option value="VU">Vanuatu</option>
	<option value="VE">Venezuela, Bolivarian Republic of</option>
	<option value="VN">Viet Nam</option>
	<option value="VG">Virgin Islands, British</option>
	<option value="VI">Virgin Islands, U.S.</option>
	<option value="WF">Wallis and Futuna</option>
	<option value="EH">Western Sahara</option>
	<option value="YE">Yemen</option>
	<option value="ZM">Zambia</option>
	<option value="ZW">Zimbabwe</option>
          </select>
          <span class="error" v-if="countryError">{% raw %}{{ countryError }}{% endraw %}</span>

          <input class="stack" v-model="image" accept="image/*" type="file" v-bind:class="{ 'error': imageError }" id="avatar">
          <span class="error" v-if="imageError">{% raw %}{{ imageError }}{% endraw %}</span>
        </section>
        <footer>
          <button type="submit">{{ _('Submit') }}</button>
          <label for="modal_speaker" ref="modal_speaker" class="button dangerous">{{ _('Cancel') }}</label>
        </footer>
      </form>
    </article>
  </div>

  <div class="modal" id="popupModal">
    <input id="modal_popup" type="checkbox" v-model="open"/>
    <label for="modal_popup" class="overlay"></label>
    <article>
      <form method="post">
        <header>
          <h3>{% raw %}{{ header }}{% endraw %}</h3>
          <label for="modal_popup" class="close">&times;</label>
        </header>
        <section class="content">
          {% raw %}{{ message }}{% endraw %}
        </section>
        <footer>
          <label for="modal_popup" class="button">{{ _('OK') }}</label>
        </footer>
      </form>
    </article>
  </div>

  <div class="section" id="cfp">
    <div class="content">
      <div class="content-text">
        <h1>{{ _('Call for proposals') }}</h1>
        <p class="lead">{{ _('The Call For Proposals is open!') }}</p>

        <p class="text-justify">
          {{ _('PyCon is organized by the Python community and for the Python community. You\'re coming to the event,
        and that makes you part of the community. If you\'ve done something that you think other people
        might be interested in, or that you think they should know about, please do consider telling us about it.
        We don\'t just want to hear from the experts or famous names - other perspectives are just as valuable,
        so don\'t let the idea that you\'re not expert or famous enough stop you. This is your invitation
        to submit talk proposal if you haven\'t speak at the conference before. First-time speakers talk proposals are
        preferred.') }}
        </p>

        <h2>{{ _('Where to submit your proposal') }}</h2>
        <p class="text-justify">
          {{ _('We are glad you are interested in giving a talk at PyCon SK 2018! Submit your talk proposal with short
        abstract and your bio.') }}
        </p>

        <p class="text-center">
          <label for="modal_talk" class='button lead'>{{ _('Submit your talk / workshop') }}</label>
        </p>

        <p class="text-justify">
          {{ _('Don\'t hesitate to submit more than one proposal. The deadline for submissions is the end of
        21th January 2018. Due to the competitive selection process, we encourage prospective speakers to submit their
        proposals as early as possible.') }} {{ _('In case you are not able to submit the form, please contact us via
        email: info@pycon.sk') }}
        </p>

        <h2>{{ _('Guidelines for Proposal Submission') }}</h2>
        <p class="text-justify">
          {{ _('There is no official restriction on the topic that you propose for a talk session. Talks about Python or
        the Python community are most likely to line up with the interests of PyCon\'s audience, and a key
        consideration that the talk selection committee will be thinking about is your talk\'s ability to draw an
        audience. You may propose more than one, but the committee will ask you to choose only one talk if more
        than one of your proposals is accepted.') }}
        </p>

        <div class="flex one two-900 center">
          <div class="box">
            <h2><i class="icon-chart-line" aria-hidden="true"></i> {{ _('Talks') }}</h2>
            <p class="text-justify">
              {{ _('Most talks are 30 minutes long, but we do offer a limited number of 45-minute slots for important
            topics that promise to benefit from a more extensive treatment.') }}
            </p>
          </div>

          <div class="box">
            <h2><i class="icon-handshake-o" aria-hidden="true"></i> {{ _('Workshops') }}</h2>
            <p class="text-justify">
              {{ _('As with the talks, we are looking for tutorials that can grow this community at any level!
            We aim for tutorials that will advance Python, advance this community, and shape the future. As tutorials
            are longer than talks and are in an interactive classroom-like setting, they require much more
            preparation.') }}
            </p>
          </div>
        </div>

      </div>
    </div>
  </div>
{% endblock %}
