{% extends "body.html" %}
{% block content %}
<div class="section" id="sponsors">
  <div class="content">
    <div class="content-text">
      <h2>{{ _('Sponsors') }}</h2>
      <p class="text-justify">
        {{ _('We thank all the sponsors, without whom it would not be possible to organize this amazing conference.') }}
        <a href="{{ url_for('sponsoring', lang_code=lang_code) }}">{{ _('Why become a sponsor?') }}</a>
      </p>

      <p class="text-center">
      <h3>{{ _('Diamond') }}</h3>

      <div class="flex one three-800 center demo">
        <div>
          <a href="https://www.kiwi.com/{% if lang_code %}{{ lang_code }}/{% endif %}" target="_blank" class="sbox"
             onclick="ga('send', 'event', 'sponsor', 'click', 'sponsors-page-kiwi');trackOutboundLink('https://www.kiwi.com/');">
            <img src="{{ url_for('static', filename='img/partners/kiwi.svg') }}" alt="Kiwi"
                 class="slogo img-responsive center-block"/>
            <div class="sbox-inner">
              <div class="sdesc">
                <h3>Kiwi</h3>
                <p class="text-justify">
                  {{ _('Kiwi.com is an online travel agency with groundbreaking Virtual
                  Interlining technology and a focus on exceptional customer service. Our unique combination algorithm
                  allows our customers to combine flights from non-cooperating airlines onto a single itinerary, often
                  resulting in significant savings.') }}
                </p>
              </div>
            </div>
          </a>
        </div>
      </div>
      </p>

      <p class="text-center">
      <h3>{{ _('Platinum') }}</h3>

      <div class="flex one three-800 center demo">
        <div>
          <a href="https://exponea.com/careers/" target="_blank" class="sbox"
             onclick="ga('send', 'event', 'sponsor', 'click', 'sponsors-page-exponea');trackOutboundLink('https://exponea.com/careers/');">
            <img src="{{ url_for('static', filename='img/partners/exponea.svg') }}" alt="Exponea"
                 class="slogo img-responsive center-block"/>
            <div class="sbox-inner">
              <div class="sdesc">
                <h3>Exponea</h3>
                <p class="text-justify">
                  {{ _('The Exponea platform empowers e-sellers on 5 continents to be relevant to
                  their customers. Our international team of 140+ professionals relies on a strong back-end team armed
                  with Python, C++ and Go, Apache Kafka, MongoDB, Redis, ElasticSearch, Flask, RabbitMQ, Celery and
                  other technologies like Docker, Kubernetes, gRPC, Sentry, Hadoop, and Apache Spark to help our clients
                  collect, analyze, and act upon customer interactions. And yes, we\'re hiring.') }}
                </p>
              </div>
            </div>
          </a>
        </div>
        <div>
          <a href="https://www.python.org/psf" target="_blank" class="sbox"
             onclick="ga('send', 'event', 'sponsor', 'click', 'sponsors-page-python-software-foundation');trackOutboundLink('https://www.python.org/psf');">
            <img src="{{ url_for('static', filename='img/partners/psf.svg') }}" alt="Python Software Foundation"
                 class="slogo img-responsive center-block"/>
            <div class="sbox-inner">
              <div class="sdesc">
                <h3>Python Software Foundation</h3>
                <p class="text-justify">
                  {{ _('The Python Software Foundation is a 501(c)(3) nonprofit dedicated to
                  advancing and promoting Python. The PSF supports and encourages Python events world-wide to advance
                  its mission of growing the international community of Python programmers, and hosts the North American
                  PyCon conference as its flagship annual event.') }}
                </p>
              </div>
            </div>
          </a>
        </div>
      </div>
      </p>

      <p class="text-justify">
      <h3>{{ _('Gold') }}</h3>

      <div class="flex one three-800 center demo">
        <div>
          <a href="https://www.kistler.com/" target="_blank" class="sbox"
             onclick="ga('send', 'event', 'sponsor', 'click', 'sponsors-page-kistler');trackOutboundLink('https://www.kistler.com/');">
            <img src="{{ url_for('static', filename='img/partners/kistler.svg') }}" alt="Kistler"
                 class="slogo img-responsive center-block"/>
            <div class="sbox-inner">
              <div class="sdesc">
                <h3>Kistler</h3>
                <p class="text-justify">
                  {{ _('The Kistler Group is a Swiss high-tech company and the global market
                  leader in dynamic measurement technology. We develop and supply sensors, electronics and software
                  backed up by a full range of services. In Bratislava we develop software for the next generation of
                  IoT devices. With our software we help customer to manufacture higher quality products, to develop
                  cleaner cars and to reduce congestions on the highways. Behind our success stand our passion for
                  technology, our focus on innovation and a work environment that promotes teamwork. We develop vehicles
                  that people can trust; we create measurement systems that save lives. Kistler helps to shape a better
                  future.') }}
                </p>
              </div>
            </div>
          </a>
        </div>
        <div>
          <a href="https://www.redhat.com/{{ lang_code }}" target="_blank" class="sbox"
             onclick="ga('send', 'event', 'sponsor', 'click', 'sponsors-page-redhat');trackOutboundLink('https://www.redhat.com/');">
            <img src="{{ url_for('static', filename='img/partners/redhat.svg') }}" alt="Red Hat"
                 class="slogo img-responsive center-block"/>
            <div class="sbox-inner">
              <div class="sdesc">
                <h3>Red Hat</h3>
                <p class="text-justify">
                  {{ _('Red Hat is the world\'s leading provider of open source software solutions, using a
                  community-powered approach to reliable and high-performing cloud, Linux, middleware, storage, and
                  virtualization technologies. As a connective hub in a global network of enterprises, partners, and
                  open source communities, Red Hat helps create innovative technologies that liberate resources for
                  growth and prepare customers for the future of IT.') }}
                </p>
              </div>
            </div>
          </a>
        </div>
        <div>
          <a href="https://www.eset.com/{% if lang_code == 'en' %}us/{% else %}{{ lang_code }}/{% endif %}" target="_blank" class="sbox"
             onclick="ga('send', 'event', 'sponsor', 'click', 'sponsors-page-eset');trackOutboundLink('https://www.eset.com/');">
            <img src="{{ url_for('static', filename='img/partners/eset.svg') }}" alt="Eset"
                 class="slogo img-responsive center-block"/>
            <div class="sbox-inner">
              <div class="sdesc">
                <h3>Eset</h3>
                <p class="text-justify">
                  {{ _('Since 1987, ESET has been developing award-winning security software that now helps over 100
                  million users to Enjoy Safer Technology. Its broad security product portfolio covers all popular
                  platforms and provides businesses and consumers around the world with the perfect balance of
                  performance and proactive protection. The company has a global sales network covering 180 countries,
                  and regional offices in Bratislava, San Diego, Singapore and Buenos Aires.') }}
                </p>
              </div>
            </div>
          </a>
        </div>
        <div>
          <a href="http://solargis.info/" target="_blank" class="sbox"
             onclick="ga('send', 'event', 'sponsor', 'click', 'sponsors-page-solargis');trackOutboundLink('http://solargis.info/');">
            <img src="{{ url_for('static', filename='img/partners/solargis.svg') }}" alt="Solargis"
                 class="slogo img-responsive center-block"/>
            <div class="sbox-inner">
              <div class="sdesc">
                <h3>Solargis</h3>
                <p class="text-justify">
                  {{ _('Solargis is leading in advanced solar information technologies by developing new generation
                  global solar and meteorological data and software that help solar power plants to become cheap and
                  reliable source of energy. Today, the Solargis platform is used by more than thousand companies
                  including world\'s largest energy enterprises and finance institutions such as The World Bank.') }}
                </p>
              </div>
            </div>
          </a>
        </div>
      </div>

      </p>

      <p class="text-justify">
      <h3>{{ _('Silver') }}</h3>

      <div class="flex one three-800 center demo">

        <div>
          <a href="https://gitmate.io/" target="_blank" class="sbox"
             onclick="ga('send', 'event', 'sponsor', 'click', 'sponsors-page-gitmate');trackOutboundLink('https://gitmate.io/');">
            <img src="{{ url_for('static', filename='img/partners/gitmate.svg') }}" alt="GitMate"
                 class="slogo img-responsive center-block"/>
            <div class="sbox-inner">
              <div class="sdesc">
                <h3>GitMate</h3>
                <p class="text-justify">{{ _('GitMate is an automated issue triager. Based on machine learning
                  algorithms GitMate labels issues, notifies relevant developers, identifies duplicates and maintains
                  old issues. This reduces developers’ time spent on managing issues by at least 50%%.') }}</p>
              </div>
            </div>
          </a>
        </div>
        <div>
          <a href="http://www.bbi-intl.com" target="_blank" class="sbox"
             onclick="ga('send', 'event', 'sponsor', 'click', 'sponsors-page-bbi-international');trackOutboundLink('http://www.bbi-intl.com');">
            <img src="{{ url_for('static', filename='img/partners/bbi.png') }}" alt="BBI International"
                 class="slogo img-responsive center-block"/>
            <div class="sbox-inner">
              <div class="sdesc">
                <h3>BBI International</h3>
                <p class="text-justify">{{ _('BBI International is consulting company bridging the knowledge between
                  business and IT. Our ultimate goal and burning desire is to achieve the extraordinary level of
                  performance for our customers from the sectors of banking, insurance, automotive and telecommunication
                  in Central European countries. Our most valuable competences are Applications Development, dInternet
                  of Things (IoT), Data Warehousing (DWH) a Collaboration Management.') }}</p>
              </div>
            </div>
          </a>
        </div>
        <div>
          <a href="https://www.slushpool.com/" target="_blank" class="sbox"
             onclick="ga('send', 'event', 'sponsor', 'click', 'sponsors-page-slush-pool');trackOutboundLink('https://www.slushpool.com/');">
            <img src="{{ url_for('static', filename='img/partners/slush_pool.svg') }}" alt="Slush Pool"
                 class="slogo img-responsive center-block"/>
            <div class="sbox-inner">
              <div class="sdesc">
                <h3>Slush Pool</h3>
                <p class="text-justify">{{ _('Slush Pool is the world\'s first Bitcoin mining pool, which mined over one
                  million bitcoins since its foundation in 2010. With back-end based mostly on Python technologies,
                  Slush Pool helps to secure the Bitcoin network as well as stabilize miners\' revenue.') }}</p>
              </div>
            </div>
          </a>
        </div>

      </div>
      </p>

      <p class="text-justify">
      <h3>{{ _('Django Girls Workshop') }}</h3>

      <div class="flex one three-800 center demo">

        <div>
          <a href="https://kjamistan.com/" target="_blank" class="sbox"
             onclick="ga('send', 'event', 'sponsor', 'click', 'sponsors-page-kjamistan');trackOutboundLink('https://kjamistan.com/');">
            <img src="{{ url_for('static', filename='img/partners/kjamistan.jpg') }}" alt="Kjamistan"
                 class="slogo img-responsive center-block"/>
            <div class="sbox-inner">
              <div class="sdesc">
                <h3>Kjamistan</h3>
                <p class="text-justify">{{ _('Kjamistan provides data science and machine learning consulting; helping
                  tackle topics like data science testing, natural language processing, workflow automation
                  architectures, security in machine learning deployment, and interpretable machine learning models and
                  architecture.') }}</p>
              </div>
            </div>
          </a>
        </div>

      </div>
      </p>

      <p class="text-justify">
      <h3>{{ _('Partners') }}</h3>

      <div class="flex one three-800 center demo">
        <div>
          <a href="https://www.jetbrains.com/" target="_blank" class="sbox"
             onclick="ga('send', 'event', 'sponsor', 'click', 'sponsors-page-jetbrains');trackOutboundLink('https://www.jetbrains.com/');">
            <img src="{{ url_for('static', filename='img/partners/jetbrains.svg') }}" alt="JetBrains"
                 class="slogo img-responsive center-block"/>
            <div class="sbox-inner">
              <div class="sdesc">
                <h3>JetBrains</h3>
                <p class="text-justify">{{ _('JetBrains delivers intelligent software solutions that make developers
                  more productive by simplifying their challenging tasks, automating the routine, and helping them adopt
                  the best development practices. PyCharm is the Python IDE for Professional Developers by JetBrains
                  providing a complete set of tools for productive Python, Web and Scientific development, available in
                  two editions. The free and open-source PyCharm Community Edition is perfect for pure Python coding.
                  PyCharm Professional Edition is designed for professional Python, Web, and Data analysis developers.')
                  }}
                </p>
              </div>
            </div>
          </a>
        </div>
        <div>
          <a href="http://bit.ly/2FsHHMT" target="_blank" class="sbox"
             onclick="ga('send', 'event', 'sponsor', 'click', 'sponsors-page-slido');trackOutboundLink('https://www.slido.com/');">
            <img src="{{ url_for('static', filename='img/partners/slido.svg') }}" alt="Sli.do"
                 class="slogo img-responsive center-block"/>
            <div class="sbox-inner">
              <div class="sdesc">
                <h3>Sli.do</h3>
                <p class="text-justify">
                  {{ _('Slido is a technology company that enhances communication and increases
                  interaction at events and meetings. Having worked on over 85,000 events, we helped to engage millions
                  of participants. We are proud to work with renowned conferences such as SXSW, World Economic Forum,
                  Money20/20 and high-profile clients including Adobe, Spotify, Lufthansa, BBC and Oracle.') }}
                </p>
              </div>
            </div>
          </a>
        </div>
        <div>
          <a href="https://www.learn2code.sk/" target="_blank" class="sbox"
             onclick="ga('send', 'event', 'sponsor', 'click', 'sponsors-page-learn2code');trackOutboundLink('https://www.learn2code.sk/');">
            <img src="{{ url_for('static', filename='img/partners/learn2code.svg') }}" alt="Learn2Code"
                 class="slogo img-responsive center-block"/>
            <div class="sbox-inner">
              <div class="sdesc">
                <h3>Learn2Code</h3>
                <p class="text-justify">
                  {{ _('Learn2Code teaches people how to design and code modern websites and
                  application. Learn2Code is the largest online learning marketplace in Slovakia.') }}
                </p>
              </div>
            </div>
          </a>
        </div>
        <div>
          <a href="https://www.mozilla.{% if lang_code == 'sk' %}{{ lang_code }}/{% else %}org/{% endif %}" target="_blank" class="sbox"
             onclick="ga('send', 'event', 'sponsor', 'click', 'sponsors-page-mozilla');trackOutboundLink('https://www.mozilla.sk/');">
            <img src="{{ url_for('static', filename='img/partners/mozilla.svg') }}" alt="Mozilla"
                 class="slogo img-responsive center-block"/>
            <div class="sbox-inner">
              <div class="sdesc">
                <h3>Mozilla</h3>
                <p class="text-justify"></p>
              </div>
            </div>
          </a>
        </div>
        <div>
          <a href="https://www.oreilly.com/" target="_blank" class="sbox"
             onclick="ga('send', 'event', 'sponsor', 'click', 'sponsors-page-oreilly');trackOutboundLink('https://www.oreilly.com/');">
            <img src="{{ url_for('static', filename='img/partners/oreilly.svg') }}" alt="O’Reilly"
                 class="slogo img-responsive center-block"/>
            <div class="sbox-inner">
              <div class="sdesc">
                <h3>O’Reilly</h3>
                <p class="text-justify">{{ _('O’Reilly provides technology and business training, knowledge, and insight
                  to help companies succeed in the face of huge economic and technological shifts confronting businesses
                  today. Our unique network of experts and innovators share their knowledge and expertise on the
                  company’s comprehensive training and information platform and at O’Reilly conferences.') }}</p>
              </div>
            </div>
          </a>
        </div>
        <div>
          <a href="https://www.fiit.stuba.sk/{% if lang_code == 'en' %}{{ lang_code }}.html{% endif %}" target="_blank" class="sbox"
             onclick="ga('send', 'event', 'sponsor', 'click', 'sponsors-page-fiit-stuba');trackOutboundLink('https://www.fiit.stuba.sk/');">
            <img src="{{ url_for('static', filename='img/partners/fiit-stu.svg') }}" alt="{{ _('Fakulta informatiky a informačných technológií STU v Bratislave') }}"
                 class="slogo img-responsive center-block"/>
            <div class="sbox-inner">
              <div class="sdesc">
                <h3>{{ _('Fakulta informatiky a informačných technológií STU v Bratislave') }}</h3>
                <p class="text-justify">{{ _('Faculty of Informatics and Information Technologies (FIIT) is one of the
                  seven faculties of the Slovak University of Technology in Bratislava (SUT). FIIT SUT covers the very
                  area of informatics and information technologies (IIT) in both research and education. FIIT is the
                  first faculty in the Slovak Republic with such mission.') }}</p>
              </div>
            </div>
          </a>
        </div>
        <div>
          <a href="https://www.wearedevelopers.com/wearedevelopers-2018/" target="_blank" class="sbox"
             onclick="ga('send', 'event', 'sponsor', 'click', 'sponsors-page-we_are_developers');trackOutboundLink('https://www.wearedevelopers.com/');">
            <img src="{{ url_for('static', filename='img/partners/we_are_developers.svg') }}" alt="WeAreDevelopers World Congress 2018"
                 class="slogo img-responsive center-block"/>
            <div class="sbox-inner">
              <div class="sdesc">
                <h3>WeAreDevelopers World Congress 2018</h3>
                <p class="text-justify">{{ _('[WOZ] is coming to WeAreDevelopers World Congress 2018, are you? Act fast
                  and SAVE 500€ on regular ticket price! See you in Vienna, May 16th-18th.') }}</p>
              </div>
            </div>
          </a>
        </div>

      </div>

      </p>

      <p class="text-justify">
      <h3>{{ _('Media Partners') }}</h3>

      <div class="flex one three-800 center demo">
        <div>
          <a href="http://www.robime.it/" target="_blank" class="sbox"
             onclick="ga('send', 'event', 'sponsor', 'click', 'sponsors-page-robimeit');trackOutboundLink('http://www.robime.it/');">
            <img src="{{ url_for('static', filename='img/partners/robime-it.svg') }}" alt="robíme.it"
                 class="slogo img-responsive center-block"/>
            <div class="sbox-inner">
              <div class="sdesc">
                <h3>robíme.it</h3>
                <p class="text-justify"></p>
              </div>
            </div>
          </a>
        </div>

        <div>
          <a href="https://www.startitup.sk/" target="_blank" class="sbox"
             onclick="ga('send', 'event', 'sponsor', 'click', 'sponsors-page-startitup');trackOutboundLink('https://www.startitup.sk/');">
            <img src="{{ url_for('static', filename='img/partners/startitup.png') }}" alt="Startitup"
                 class="slogo img-responsive center-block"/>
            <div class="sbox-inner">
              <div class="sdesc">
                <h3>Startitup</h3>
                <p class="text-justify">
                  {{ _('Startitup is one of the most popular and progressive growing tech/startup
                  websites in Slovakia and Czech republic, which informs, inspires and entertains the digital
                  generation. Startitup is well known as one of the most credible, independent media in Slovakia.') }}
                </p>
              </div>
            </div>
          </a>
        </div>
      </div>

      </p>

    </div>
  </div>
</div>

<div class="section" id="volunteers">
  <div class="content">
    <div class="content-text">
      <p class="lead">
        {{ _('People that participate volunteering at PyCon SK 2018.') }}
      </p>
      <div class="flex one two-500 three-600 four-900 six-1200 eight-1600 text-center">

        <div>
          <a href="https://sk.linkedin.com/in/richardkellner" target="_blank">
            <img src="{{ url_for('static', filename='img/avatar/ricco.jpg') }}" alt="Richard Kellner avatar"
                 class="avatar"/><br/>
            Richard Kellner
          </a>
        </div>

        <div>
          <a href="https://sk.linkedin.com/in/marekmansell" target="_blank">
            <img src="{{ url_for('static', filename='img/avatar/marekmansell.jpg') }}" alt="Marek Mansell"
                 class="avatar"/><br/>
            Marek Mansell
          </a>
        </div>

        <div>
          <a href="https://sk.linkedin.com/in/danielkontsek/" target="_blank">
            <img src="{{ url_for('static', filename='img/avatar/daniel_kontsek.jpg') }}" alt="Daniel Kontšek"
                 class="avatar"/><br/>
            Daniel Kontšek
          </a>
        </div>

        <div>
          <a href="https://www.linkedin.com/in/jangondol" target="_blank">
            <img src="{{ url_for('static', filename='img/avatar/jangondol.jpg') }}" alt="Ján Gondoľ"
                 class="avatar"/><br/>
            Ján Gondoľ
          </a>
        </div>

        <div>
          <a href="https://sk.linkedin.com/in/mnalevanko" target="_blank">
            <img src="{{ url_for('static', filename='img/avatar/MNalevankoSQ.jpg') }}" alt="Michal Nalevanko"
                 class="avatar"/><br/>
            Michal Nalevanko
          </a>
        </div>

        <div>
          <a href="https://www.linkedin.com/in/tomas-pytel/" target="_blank">
            <img src="{{ url_for('static', filename='img/avatar/tomas_pytel.jpg') }}" alt="Tomas Pytel"
                 class="avatar"/><br/>
            Tomáš Pytel
          </a>
        </div>

        <div>
          <a href="https://www.linkedin.com/in/juraj-bezrucka-5651a1b/" target="_blank">
            <img src="{{ url_for('static', filename='img/avatar/mimmon.jpg') }}" alt="Juraj M. Bezručka"
                 class="avatar"/><br/>
            Juraj M. Bezručka
          </a>
        </div>

        <div>
          <a href="https://www.linkedin.com/in/evameszarosova/" target="_blank">
            <img src="{{ url_for('static', filename='img/avatar/klimekova.jpg') }}" alt="Eva Klimeková"
                 class="avatar"/><br/>
            Eva Klimeková
          </a>
        </div>

        <div>
          <a href="https://sk.linkedin.com/in/mbagljas" target="_blank">
            <img src="{{ url_for('static', filename='img/avatar/miroslav_baglias.jpg') }}" alt="Miroslav Bagljaš"
                 class="avatar"/><br/>
            Miroslav Bagljaš
          </a>
        </div>

        <div>
          <img src="{{ url_for('static', filename='img/avatar/peterbagin.jpg') }}" alt="Peter Bagin"
               class="avatar"/><br/>
          Peter Bagin
        </div>

        <div>
          <a href="https://www.linkedin.com/in/marekbruchaty/" target="_blank">
            <img src="{{ url_for('static', filename='img/avatar/marek_bruchaty.jpg') }}" alt="Marek Bruchatý"
                 class="avatar"/><br/>
            Marek Bruchatý
          </a>
        </div>
      </div>

      <p class="lead">
        {{ _('People that supported PyCon SK 2018 by purchasing a supporter ticket.') }}
      </p>
      <p class="text-center">
        Christoph Schindler<br/>
        Stefan Zimmermann - zimmermann::code<br/>
        Lubos Medovarsky - Accelera Networks s.r.o.<br/>
        Ivan Rychagov<br/>
        Michal Krondiak - Rhodium Investments Ltd<br/>
        Jana Kozáková - Red Hat Czech, s.r.o.<br/>
        Gabriel Szász - Red Hat Czech, s.r.o.<br/>
        Radoslav Roman<br/>
        Eliška Roubalová - SAP Concur<br/>
        Lukáš Staňa - it7 s.r.o.<br/>
        Roman Kazička - SystemThinking spol. s r.o<br/>
        Jakub Balas - Cubasoft Ltd<br/>
        Peter Pribylinec - 2K<br/>
      </p>
    </div>
  </div>
</div>
{% endblock %}
