{% extends "body.html" %}

{% block style %}
.section#home {background-image:url('/static/img/backgrounds/people.jpg');background-attachment:fixed;}
@media (max-width: 900px) {
  .section#home {background-image:url('/static/img/backgrounds/people_medium.jpg');background-attachment:fixed;}
}
@media (max-width: 500px) {
  .section#home {background-image:url('/static/img/backgrounds/people_small.jpg');background-attachment:fixed;}
}
{% endblock %}

{% block content %}
<div class="section" id="home">
  <div class="content">
    <div class="content-text">
      <div class="hero"></div>
      <h1>{{ _('PyCon will be back at Slovakia in 2018 again.') }}</h1>
      <p class="lead">{{ _('<strong>Third year</strong> will happen in <strong>March, 2018 in Bratislava</strong>.') }}</p>

      <p class="text-justify">
        {{ _('PyCon SK is a community-organized conference for the Python programming language.') }}
      </p>

      <p class="text-justify">
        {% autoescape off %}
        {{ _('Found a bug? Missing some information? This is community managed website, contribute at our %(github)s.',
            github = '<a href="https://github.com/pyconsk/2018.pycon.sk" target="_blank" class="external">GitHub</a>') }}
        {% endautoescape %}
      </p>

    </div>
  </div>
</div>
{% endblock %}
