{% extends "body.html" %}
{% block content %}
<div class="section" id="home">
    <div class="content">
        <div class="content-text">
        <div class="hero"></div>
        <h1>{{ _('PyCon at Slovakia again.') }}</h1>
        <span>
            {{ _('PyCon SK is a community-organized conference for the Python programming language.<br /><strong>Third year</strong> will happen in <strong>March, 2018 in Bratislava</strong>.') }}
        </span>
        </div>
    </div>
</div>
{% endblock %}
