{% extends "body.html" %}
{% block content %}
<div class="section" id="schedule">
  <div class="content">
    <div class="content-text">

      <h1>{{ _('PyCon SK 2018 Schedule') }}</h1>
      <p class="lead">
        {{ _('Conference schedule might change.') }}
      </p>

      <a href="{{ url_for('schedule', lang_code=lang_code) }}">
        <span class="label all">{{ _('All') }}</span>
      </a>
      {% for tag in tags %}{% if tag not in ('talk', 'workshop') %}
      <a href="{{ url_for('schedule_filter', lang_code=lang_code, flag=tag) }}">
        <span class="label {{ tag }}">{{ _(tags[tag]) }}</span>
      </a>
      {% endif %}{% endfor %}


      <div class="flex one two-900 center demo">
        {% for track in schedule %}{% if track['schedule'] %}
        <div>
          <article class="card">
            <header>
              <h2>{{ track['start'].strftime('%A') }}: {{ _(track['room']['name']) }} <small>({{ track['room']['number'] }})</small></h2><br />
              {{ track['start'].strftime('%d. %B') }}
            </header>
            <footer>
              <table>
          {% for talk in track['schedule'] %}
          <tr>
            <td class="date{% if talk['css'] %} {{ talk['css'] }}{% endif %}">
              {{ talk['start'].strftime('%H:%M') }}
              {% if talk['talk']['language']|upper == 'EN' %}
                <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAALCAYAAAB24g05AAACJElEQVQokYWQW0jTYQDFv8ceehELCx96CoqlYaxSQYaZoWBCNTNl6JbLkKGV+RBZy3mp8Ia3LooammGY5TIyAzOHKVmRQ52xdIREMMlVkLKm///362HVk9B5OnA4F45oaB5m0LVE8a1xzGXjmMtGMdlGcHt8PMyx0Wu04vb4SLYMkJQ7SJzBTqbtOa1HzlDcNobouv8GHvcgJcwtLNNpn+NO3zxSAk3VUFuBlNDQMU1Nm5OJ15+RlZeQaoC6fifiZLmDoYlvcK8bHC8AuHrTBQCn8sBoAqCodorlzl78VVUAtPdMsVV7OxjQYfdgrXexMPwJpfQK/2AwQPqJIM/PA68X57yP+ORuCktfERJRj3B7fMG56yEtDVJT15WkhHezi4he02VovA5mM2RnQ0YG6PVBY0oKMjGRVZ2OQEwMfq2WlchIVjQaAscOUbEt9j8L4uJQ9kX/7QRAVVUUVWFNUZhweRG6rH6qWyfJzB1kxvUdfEsEcrKDlj1a1nZH/QlQ+XIgnpfNT9kS3oLe2IcItSD2H3/E3b7g6z9tVn5UVmIoGgdA0USwulMDUhKr6yIALLe04TUaKL3xHhFyGtH4ZBopVfzXLjA2Mse5EgcFJaNICao+ibWjCUhVJT13gLSsBzwb/Yiq/OKr8TCWwi7ExfYRmg7mkJDXSciuVjbuaGTD9jomZ71UhEdTHqbl7cwiIuw8YvNZRGg+m6Ks1Ax9IHFvAb8B0rMYCWdRNDQAAAAASUVORK5CYII=" alt="{{ _('English flag') }}" title="{{ _('Presentation will be in English language.') }}">
              {% endif %}
              {% if talk['talk']['language']|upper == 'SK' %}
                <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAALCAYAAAB24g05AAACO0lEQVQokXXMTUiTARzH8T94FOrgyYsddkkQJcFIyhQ1kUzQUHMTRRMNU6xMLXpRMLVS8gWkrKhDXesk0TFKIgzTXPMt2ea0JWOutT179uzlefbtUlKHfvA5/r5iqBqGqv5LUYgrCvGAQtQfQPP7UX1+VK8PxeMlsOPB73bj23YjhqrxZ4lEYo9hJDAMA13X0XWdeDxOLBYjGo0SiUTQNA2vaxsxVBWA8NNnhCfuo45PERqdJDQ6/t9jOBxG0zR27E4k37zOi9c/ULpvkGhuwnA4MIYGiVnqmHjk4s70N4amthiY3KRvzMm1ETu9tze4+8CJJL1CkkxzDD7eJdDRjfFpHsO3i77lQqut42aflZrOr9ScX6Gy1cap5i+UNixRaFmk4dIyIk8QOTDHrYde/G1d6C2N6A4H8bvDRC0WLl61cbpjncpzK5Q32yhtsFJkWeL4mUXqLuwFFhmY9mB9a2e4Z5b2nmXaOxfYnJnFfNlOedsGJ1vWONG0SkH9CsfMNo5UW6nqXEPkOfJGBNeVEb4PT2F/v0Zjr53Vd+u4+sewFpj5fLSahcMVzB8q42NGKXMHi/hgymehqI57IkhUBL21lVhxMbHuLn6+nCFwvR8tM5NwejqqyUQoLQ0lNZVgSgqB/fsIJCcTzMrCKYJoIsSbzhKrrydaW0u0qppIRQVaWRlaSQnhwkLUvDxCubkoOTkEs7MJZmURzMjALoKoIigiBETwi+D7zSuCR4QdEdwibIvgEsEpgv0vvwCcffbRnUTGYAAAAABJRU5ErkJggg==" alt="{{ _('Slovak flag') }}" title="{{ _('Presentation will be in Slovak language') }}">
              {% endif %}
              {% if talk['talk']['language']|upper == 'CZ' %}
                <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAALCAYAAAB24g05AAACO0lEQVQokXXMTUiTARzH8T94FOrgyYsddkkQJcFIyhQ1kUzQUHMTRRMNU6xMLXpRMLVS8gWkrKhDXesk0TFKIgzTXPMt2ea0JWOutT179uzlefbtUlKHfvA5/r5iqBqGqv5LUYgrCvGAQtQfQPP7UX1+VK8PxeMlsOPB73bj23YjhqrxZ4lEYo9hJDAMA13X0XWdeDxOLBYjGo0SiUTQNA2vaxsxVBWA8NNnhCfuo45PERqdJDQ6/t9jOBxG0zR27E4k37zOi9c/ULpvkGhuwnA4MIYGiVnqmHjk4s70N4amthiY3KRvzMm1ETu9tze4+8CJJL1CkkxzDD7eJdDRjfFpHsO3i77lQqut42aflZrOr9ScX6Gy1cap5i+UNixRaFmk4dIyIk8QOTDHrYde/G1d6C2N6A4H8bvDRC0WLl61cbpjncpzK5Q32yhtsFJkWeL4mUXqLuwFFhmY9mB9a2e4Z5b2nmXaOxfYnJnFfNlOedsGJ1vWONG0SkH9CsfMNo5UW6nqXEPkOfJGBNeVEb4PT2F/v0Zjr53Vd+u4+sewFpj5fLSahcMVzB8q42NGKXMHi/hgymehqI57IkhUBL21lVhxMbHuLn6+nCFwvR8tM5NwejqqyUQoLQ0lNZVgSgqB/fsIJCcTzMrCKYJoIsSbzhKrrydaW0u0qppIRQVaWRlaSQnhwkLUvDxCubkoOTkEs7MJZmURzMjALoKoIigiBETwi+D7zSuCR4QdEdwibIvgEsEpgv0vvwCcffbRnUTGYAAAAABJRU5ErkJggg==" alt="{{ _('Czech flag') }}" title="{{ _('Presentation will be in Czech language') }}">
              {% endif %}
            </td>
            <td class="title{% if talk['css'] %} {{ talk['css'] }}{% endif %}">
              {% if loop.last and disable_last %}
                &nbsp;
              {% else %}
                {{ _(talk['talk']['title']) }}
                {% if talk['talk']['flag'] %}
                <br />
                <span class="label {{ talk['talk']['type'] }}">{{ _(all[talk['talk']['type']]) }}</span>
                <span class="label {{ talk['talk']['flag'] }}">{{ _(tags[talk['talk']['flag']]) }}</span>
                {% endif %}

                {% if talk['talk']['primary_speaker'] %}
                <strong>
                {{ talk['talk']['primary_speaker']['first_name'] }} {{ talk['talk']['primary_speaker']['last_name'] }}
                  {% if talk['talk']['secondary_speaker'] %}
                    &amp; {{ talk['talk']['secondary_speaker']['first_name'] }} {{ talk['talk']['secondary_speaker']['last_name'] }}
                  {% endif %}
                </strong>
                {% endif %}
              {% endif %}
            </td>
          </tr>
          {% endfor %}
              </table>
            </footer>
          </article>
        </div>
        {% endif %}{% endfor %}
      </div>

    </div>
  </div>
</div>
{% endblock %}
