{% extends "body.html" %}
{% block content %}

<div class="section" id="speakers">
  <div class="content">
    <div class="content-text">

      <p class="text-center">
        <div class="flex one two-600 three-900 four-1200 center demo">

        {% for entry in data %}
          <div>
            <article class="card">
              {% if entry['url'] %}
              <a href="{{ entry['url'] }}" target="_blank"
               onclick="ga('send', 'event', 'speaker', 'click', 'speakers-page-{{ entry['first_name'] }}-{{ entry['last_name'] }}');trackOutboundLink('{{ entry['url'] }}');">
              {% endif %}
              {% if entry['image'] %}
              <img src="{{ url_for('static', filename='img/speakers/'+ entry['first_name']|strip_accents|lower +'_'+ entry['last_name']|strip_accents|lower +'.jpg') }}" class="img-responsive center-block">
              {% else %}
              <img src="{{ url_for('static', filename='img/speakers/no_avatar.svg') }}" class="img-responsive center-block">
              {% endif %}
              {% if entry['url'] %}</a>{% endif %}
              <footer>
                <h3>
                  {% if entry['url'] %}
              <a href="{{ entry['url'] }}" target="_blank"
               onclick="ga('send', 'event', 'speaker', 'click', 'speakers-page-{{ entry['first_name'] }}-{{ entry['last_name'] }}');trackOutboundLink('{{ entry['url'] }}');">
              {% endif %}
                  {{ entry['first_name'] }} {{ entry['last_name'] }}
              {% if entry['url'] != '#' %}</a>{% endif %}
                  <small>({{ entry['country']}})</small></h3>
                <p class="text-justify">{{ entry['bio']|linebreaks }}</p>
              </footer>
            </article>
          </div>
        {% endfor %}

        </div>
      </p>


    </div>
  </div>
</div>
{% endblock %}
