{% extends "body.html" %}
{% block content %}

<div class="section" id="speakers">
  <div class="content">
    <div class="content-text">

      <p class="text-center">
        <div class="flex one two-600 four-1200 center demo">

        {% for entry in data %}
          <div>
            <article class="card">
              {% if entry['url'] != '#' %}
              <a href="{{ entry['url'] }}" target="_blank"
               onclick="ga('send', 'event', 'speaker', 'click', 'speakers-page-{{ entry['name']| replace(" ","-") }}');trackOutboundLink('{{ entry['url'] }}');">
              {% endif %}
                <img src="{{ url_for('static', filename=entry['avatar']) }}" class="img-responsive center-block">
              {% if entry['url'] != '#' %}</a>{% endif %}
              <footer>
                <h3>
                  {% if entry['url'] != '#' %}
              <a href="{{ entry['url'] }}" target="_blank"
               onclick="ga('send', 'event', 'speaker', 'click', 'speakers-page-{{ entry['name']| replace(" ","-") }}');trackOutboundLink('{{ entry['url'] }}');">
              {% endif %}
                  {{ entry['name'] }}
              {% if entry['url'] != '#' %}</a>{% endif %}
                  <small>({{ entry['country']}})</small></h3>
                <p class="text-justify">{% autoescape false %}{{ entry['bio'] }}{% endautoescape %}</p>
              </footer>
            </article>
          </div>
        {% endfor %}

        </div>
      </p>


    </div>
  </div>
</div>
{% endblock %}
