{% extends "body.html" %}
{% block content %}

<div class="section" id="speakers">
  <div class="content">
    <div class="content-text">

      <p class="text-center">
        <div class="flex one two-600 four-1200 demo">

        {% for entry in data %}
          <div>
            <a href="{{ entry['url'] }}" target="_blank" class="sbox-transparent" {% if entry['url'] != '#' %}
               onclick="ga('send', 'event', 'speaker', 'click', 'speakers-page-{{ entry['name']| replace(" ","-") }}');trackOutboundLink('{{ entry['url'] }}');"{% endif %}>
              <img src="{{ url_for('static', filename=entry['avatar']) }}" alt=""
                   class="sspeaker img-responsive center-block"/>
              <div class="sbox-inner">
                <div class="sdesc">
                  <h3>{{ entry['name'] }} <small>({{ entry['country']}})</small></h3>
                  <p class="text-justify">{% autoescape false %}{{ entry['bio'] }}{% endautoescape %}</p>
                </div>
              </div>
            </a>
          </div>
        {% endfor %}

        </div>
      </p>


    </div>
  </div>
</div>
{% endblock %}
