{% extends "body.html" %}

{% block header %}
  <script src='https://js.tito.io/v1' async></script>
{% endblock %}

{% block content %}
  <div class="section" id="cfp">
    <div class="content">
      <div class="content-text">
        <h1>{{ _('Tickets') }}</h1>
        <p class="lead">{{ _('Tickets are for sale now!') }}</p>

        <p class="text-justify">
          <tito-widget event="pyconsk/2018"></tito-widget>
        </p>
        <p class="text-justify">
          {% autoescape false %}
          {{ _('You can also buy tickets directly on the %(url)s website in case the tito widget is not displayed correctly.', url='<a href="https://ti.to/pyconsk/2018" target="_blank" class="external">https://ti.to/pyconsk/2018</a>') }}
          {% endautoescape %}
        </p>
        <p class="text-justify">
          {{ _('By purchasing a ticket you agree to abide by the <a href="%(url)s">Code of Conduct</a>.', url=url_for('coc', lang_code=lang_code)) }}
        </p>

        <div class="flex one two-900">
          <div class="box">
            <h3>{{ _('Where will the conference happen?') }}</h3>
            <p class="text-justify">
              {{ _('Slovak University of Technology in Bratislava') }}<br/>
              {{ _('Faculty of Informatics and Information Technologies') }}<br/>
              Ilkovičova 2<br/>
              842 16 Bratislava 4<br/>
              <a href="{{ url_for('venue', lang_code=lang_code) }}">{{ _('How do you get to Slovak PyCon?') }}</a>
            </p>
          </div>
          <div class="box">
            <h3>{{ _('I don\'t use PayPal, is there any other way to buy a ticket?') }}</h3>
            <p class="text-justify">
              {{ _('We also accept wire transfer, or Bitcoin, Litecoin and other crypto currencies. Please send us a list of tickets you are interested in, we will send you variable symbol and after we receive the payment, we will issue and send the requested tickets to you by email.') }}
            </p>
          </div>
        </div>

        <div class="flex one two-900">
          <div class="box">
            <h3>{{ _('Which ticket should I buy?') }}</h3>
            <p class="text-justify">
              <b>{{ _('Real Deal') }}</b>: {{ _('This is the real price for tickets if it wouldn\'t be donated by SPy o.z. with sponsors money. Please buy it if you can afford it, your name (company) will be shown on our website.') }}
            </p>
            <p class="text-justify">
              <b>{{ _('Standard') }}</b>: {{ _('This ticket is designed for all conference participants.') }}
            </p>
            <p class="text-justify">
              <b>{{ _('Teacher') }}</b>: {{ _('This ticket is designed for teachers. Don\'t forget to bring your valid teachers ID (ITIC) to the registration.') }}
            </p>
            <p class="text-justify">
              <b>{{ _('Student') }}</b>: {{ _('This ticket is designed for students. Don\'t forget to bring your valid student ID (ISIC) to the registration.') }}
            </p>
          </div>
          <div class="box">
            <h3>{{ _('Where does the money from tickets go?') }}</h3>
            <p class="text-justify">
              {{ _('PyCon is completely organized by volunteers. We do believe that such conferences should be organized to promote programming and Open Source. All money collected from the ticket sales will be used to cover the expenses related to organizing the conference.') }}
            </p>
            <p class="text-justify">
              {{ _('<a href="%(url)s">The SPy civic association</a>, as the organizer, commits to transparently disclose all the costs associated with organizing PyCon at the end of the conference. The civic association was created to support Python and programming in general, you can read more about our vision and objectives.', url='https://spy.pycon.sk') }}
            </p>
          </div>
        </div>

        <div class="flex one two-900">
          <div class="box">
            <h3>{{ _('Is there any another possibility to get to PyCon?') }}</h3>
            <p class="text-justify">
              {{ _('Yes <a href="%(url)s">submit a talk</a>, and if your talk is selected you will receive a speakers ticket for free.', url=url_for('cfp', lang_code=lang_code)) }}
            </p>
            <p class="text-justify">
              {{ _('We\'ll have a financial aid program allowing some visitors to come to PyCon for free. Mere details to will be published soon.') }}
            </p>
            <p class="text-justify">
              {{ _('If you are less than 18 years old and come accompanied by a parent, you can just purchase one ticket only for the parent, but you have to inform us in advance to issue an another ticket for the child.') }}
            </p>
          </div>
          <div class="box">
            <h3>{{ _('Do you offer group discounts?') }}</h3>
            <p class="text-justify">
              {{ _('If you would like to buy more than 15 tickets please contact us by email at info@pycon.sk.') }}
            </p>
          </div>
        </div>

      </div>
    </div>
  </div>
{% endblock %}
