{% extends "body.html" %}

{% block header %}
  <script src="{{ url_for('static', filename='js/vue.2.4.4.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/axios.0.16.2.min.js') }}"></script>
  <link rel="stylesheet" type="text/css" href='https://css.tito.io/v1.1'/>
  <script src='https://js.tito.io/v1' async></script>
{% endblock %}

{% block scripts %}
{#
  <script src="{{ url_for('static', filename='js/aid.js') }}"></script>
#}
{% endblock %}

{% block content %}
  <div class="modal" id="aidModal">
    <input id="modal_aid" type="checkbox" v-model="open"/>
    <label for="modal_aid" class="overlay"></label>
    <article>
      <form method="post" role="form" v-on:submit="validateForm">
        <header>
          <h3>{{ _('Financial Aid') }}</h3>
          <label for="modal_aid" class="close">&times;</label>
        </header>
        <section class="content">

          <label for="title">
            <select v-model="title" id="title" name="title">
            <option disabled value="">{{ _('What is your title?') }}</option>
            <option value="mr">{{ _('Mr.') }}</option>
            <option value="ms">{{ _('Ms.') }}</option>
            <option value="mx">{{ _('Mx.') }}</option>
          </select>
            <span class="error" aria-live="polite"></span>
          </label>

          <label for="first_name">
            <input type="text" v-model="firstName" id="first_name" name="first_name" name="first_name" v-model.trim="firstName" placeholder="{{ _('First name') }}" required/>
            <span class="error" aria-live="polite"></span>
          </label>

          <label for="last_name">
            <input type="text" v-model="lastName" id="last_name" name="last_name" placeholder="{{ _('Last name') }}" required/>
            <span class="error" aria-live="polite"></span>
          </label>

          <label for="email">
            <input type="email" v-model="email" id="email" name="email" placeholder="{{ _('Email') }}" required/>
            <span class="error" aria-live="polite"></span>
          </label>

          <label for="phone">
            <input type="tel" v-model="phone" id="phone" name="phone" placeholder="{{ _('Phone') }}"/>
            <span class="error" aria-live="polite"></span>
          </label>

          <label for="description">
            <textarea id="description" v-model="description" name="description" placeholder="{{ _('Explain why you need financial aid? Be as descriptive as possible...') }}" required></textarea>
            <span class="error" aria-live="polite"></span>
          </label>

        </section>
        <footer>
          <button type="submit">{{ _('Submit') }}</button>
          <label for="modal_aid" class="button dangerous">{{ _('Cancel') }}</label>
        </footer>
      </form>
    </article>
  </div>

  <div class="modal" id="popupModal">
    <input id="modal_popup" type="checkbox" v-model="open"/>
    <label for="modal_popup" class="overlay"></label>
    <article>
      <form method="post">
        <header>
          <h3>{% raw %}{{ header }}{% endraw %}</h3>
          <label for="modal_popup" class="close">&times;</label>
        </header>
        <section class="content">
          {% raw %}{{ message }}{% endraw %}
        </section>
        <footer>
          <label for="modal_popup" class="button">{{ _('OK') }}</label>
        </footer>
      </form>
    </article>
  </div>

<div class="section" id="tickets">
  <div class="content">
    <div class="content-text">
      <h1>{{ _('Tickets') }}</h1>
      <p class="lead">{{ _('Tickets are for sale now!') }}</p>

      <p class="text-justify">
        <tito-widget event="pyconsk/2018"></tito-widget>
      </p>
      <p class="text-justify">
        {% autoescape false %}
        {{ _('You can also buy tickets directly on the %(url)s website in case the tito widget is not displayed correctly.', url='<a href="https://ti.to/pyconsk/2018" target="_blank" class="external">https://ti.to/pyconsk/2018</a>') }}
        {% endautoescape %}
      </p>
      <p class="text-justify">
        {{ _('By purchasing a ticket you agree to abide by the <a href="%(url)s">Code of Conduct</a>.', url=url_for('coc', lang_code=lang_code)) }}
      </p>

      <div class="flex one two-900">
        <div class="box">
          <h3>{{ _('Where will the conference happen?') }}</h3>
          <p class="text-justify">
            {{ _('Slovak University of Technology in Bratislava') }}<br/>
            {{ _('Faculty of Informatics and Information Technologies') }}<br/>
            Ilkovičova 2<br/>
            842 16 Bratislava 4
          </p>
          <p class="text-justify">
            <a href="{{ url_for('venue', lang_code=lang_code) }}">{{ _('How do you get to Slovak PyCon?') }}</a>
          </p>
        </div>
        <div class="box">
          <h3>{{ _('I don\'t have PayPal account, is there any other way to buy a ticket?') }}</h3>
          <p class="text-justify">
            {{ _('If you go to PayPal page there is possibility to pay with credit card (also with debit card) directly, without creating an account.') }}
          </p>
          <p class="text-justify">
            {{ _('We accept wire transfer, since that needs manual work additional 1 Euro fee is applied. Please send us a list of tickets you are interested in, we will send you variable symbol and after we receive the payment, we will issue and send the requested tickets to you by email.') }}
          </p>
          <p class="text-justify">
            {{ _('We also accept Bitcoin, Litecoin and (possibly) other crypto currencies. Please send us a list of tickets you are interested in, and currency you want to use and we\'ll send you a wallet address and once the payment is confirmed, we will issue and send the requested tickets to you by email.') }}
          </p>
        </div>
      </div>

      <div class="flex one two-900">
        <div class="box">
          <h3>{{ _('Which ticket should I buy?') }}</h3>
          <p class="text-justify">
            <b>{{ _('Real Deal') }}</b>: {{ _('This is the real price for tickets if it wouldn\'t be donated by SPy o.z. with sponsors money. Please buy it if you can afford it, your name (company) will be shown on our website.') }}
          </p>
          <p class="text-justify">
            <b>{{ _('Standard') }}</b>: {{ _('This ticket is designed for all conference participants.') }}
          </p>
          <p class="text-justify">
            <b>{{ _('Teacher') }}</b>: {{ _('This ticket is designed for teachers. Don\'t forget to bring your valid teachers ID (ITIC) to the registration.') }}
          </p>
          <p class="text-justify">
            <b>{{ _('Student') }}</b>: {{ _('This ticket is designed for students. Don\'t forget to bring your valid student ID (ISIC) to the registration.') }}
          </p>
        </div>
        <div class="box">
          <h3>{{ _('Where does the money from tickets go?') }}</h3>
          <p class="text-justify">
            {{ _('PyCon is completely organized by volunteers. We do believe that such conferences should be organized to promote programming and Open Source. All money collected from the ticket sales will be used to cover the expenses related to organizing the conference.') }}
          </p>
          <p class="text-justify">
            {{ _('<a href="%(url)s">The SPy civic association</a>, as the organizer, commits to transparently disclose all the costs associated with organizing PyCon at the end of the conference. The civic association was created to support Python and programming in general, you can read more about our vision and objectives.', url='https://spy.pycon.sk') }}
          </p>
        </div>
      </div>

      <div class="flex one two-900">
        <div class="box">
          <h3>{{ _('What do you mean with Real Deal ticket?') }}</h3>
          <p class="text-justify">
            {{ _('In order to keep conference accessible for everyone we subsidy all tickets so that most of the people can afford to buy one.') }}
          </p>
        </div>
        <div class="box">
          <h3>{{ _('Do you offer group discounts?') }}</h3>
          <p class="text-justify">
            {{ _('If you would like to buy more than 15 tickets please contact us by email at info@pycon.sk.') }}
          </p>
        </div>
      </div>

      <div class="flex one two-900">
        <div class="box">
          <h3>{{ _('Will there be early bird tickets?') }}</h3>
          <p class="text-justify">
            {{ _('First 120 tickets will be sold for early bird discount, so hurry up!') }}
          </p>
        </div>
        <div class="box">
          <h3>{{ _('Will there be last moment tickets?') }}</h3>
          <p class="text-justify">
            {{ _('Last 50 tickets will be more expensive, so don\'t leave your ticket purchase to last moment!') }}
          </p>
        </div>
      </div>

      <div class="flex one two-900">
        <div class="box">
          <h3>{{ _('Is there any another possibility to get to PyCon?') }}</h3>
          <p class="text-justify">
            {{ _('Yes <a href="%(url)s">submit a talk</a>, and if your talk is selected you will receive a speakers ticket for free.', url=url_for('cfp', lang_code=lang_code)) }}
          </p>
          <p class="text-justify">
            {{ _('If you are less than 18 years old and come accompanied by a parent, you can just purchase one ticket only for the parent, but you have to inform us in advance to issue an another ticket for the child.') }}
          </p>
        </div>
        <div class="box">
          <h3>{{ _('Do you have Financial Aid program?') }}</h3>
          <p class="text-justify">
            {{ _('Yes! We have limited amount of tickets for people in need, who would like to join us. If you can\'t not afford to buy a conference ticket, apply for financial aid and get complimentary conference ticket.') }}
          </p>
          <p class="text-center">
            <button disabled class='lead'><strong>{{ _('Financial aid has been closed!') }}</strong></button>

            {# <label for="modal_aid" class='button'>{{ _('Apply for financial aid.') }}</label> #}
          </p>
        </div>
      </div>

      <div class="flex one two-900">
        <div class="box">
          <h3>{{ _('Do you have social event in the evening?') }}</h3>
          <p class="text-justify">
            {{ _('On Saturday we\'ll have a PARTY! More info about the venue will be published soon.') }}
          </p>
        </div>
        <div class="box">
          <h3>{{ _('Is my conference ticket valid for the social event?') }}</h3>
          <p class="text-justify">
            {{ _('NO. You have to purchase a ticket for the social event. Ticket to social event includes dinner in a form of a buffet and a welcome drink. You pay for all other drinks.') }}
          </p>
        </div>
      </div>

    </div>
  </div>
</div>
{% endblock %}
