{% extends "body.html" %}
{% block content %}
<header class="hero">
    <div class="content">
        <p class="logo"><img src="{{ url_for('static', filename='logo/pycon_long_2018.svg') }}" alt="{{ _('PyCon SK 2018 logo') }}'"></p>
    </div>
</header>
<div id="content" class="visual flex">
    <div class="content">
        <h1>{{ _('How to get there') }}</h1>
        <span>
            {{ _('We are looking for the best venue for Pycon at the moment. Suggestions are always welcomed at <a href="mailto:info@pycon.sk">info@pycon.sk</a><br /><strong>Third year</strong> will happen in <strong>March, 2018 in Bratislava</strong>.') }}
        </span>
    </div>
</div>
{% endblock %}